<mat-form-field class="example-full-width">
  <mat-label>Type Beer Name</mat-label>
  <input matInput placeholder="Ex. Sinister" (keyup)="filterData($event.target.value)">
</mat-form-field>
<div class="mat-table__wrapper">
      <mat-table class="lmat-elevation-z8" [dataSource]="dataSource"  matSort>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
          <mat-cell *matCellDef="let i = index">{{i}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="image">
          <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
          <mat-cell *matCellDef="let i = index"><img [src]="images[i%5].image" [height]="150" [width]="150"></mat-cell>
        </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element?.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="abv">
          <mat-header-cell *matHeaderCellDef mat-sort-header>ABV</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element?.abv}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="ibu">
          <mat-header-cell *matHeaderCellDef>IBU</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element?.ibu}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="style">
          <mat-header-cell *matHeaderCellDef>Style</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element?.style}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="ounces">
          <mat-header-cell *matHeaderCellDef>Ounces</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element?.ounces}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns;" ></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>

      <div class="mat-table__message" align="center" *ngIf="totalSize==0">No records found</div>
      <div class="mat-table__message" align="center" *ngIf="totalSize==-1">Please wait....</div>
    </div>

    <div class="mat-table__bottom">
      <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[20, 50, 100]" [showFirstLastButtons]="true" [length]="totalSize"
                     [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
      </mat-paginator>
    </div>
<div  align="center" >
<button mat-stroked-button (click)="goToUrl()" class="goto">Basic</button>
</div>
