table {
  width: 100%;
}
.mat-table__wrapper{
  position: relative;
  top: 50px;
}
.example-full-width{
  position: relative;
  top: 62px;
  left: 50px;
}
.mat-paginator{
  margin-top: 50px;
}
.goto{
  margin-top: 40px;
  margin-bottom: 40px;
  width: 95%;
}
